In [ ]:
import os
import math
import numpy as np
import matplotlib.pyplot as plt
import sympy
import pandas as pd
import openpyxl

In [ ]:
wb=openpyxl.load_workbook("/content/drive/MyDrive/base de datos (3).xlsx")
print(wb.sheetnames)

['Base de datos', 'Hoja4']

In [ ]:
df_CO2=pd.read_excel(io="/content/drive/MyDrive/base de datos (3).xlsx",sheet_name="Hoja4",header=0,names= None,index_col=None,usecols="A:F",engine="openpyxl")

In [ ]:
df_CO2.head(15)

,Columna1,País (o territorio dependiente),Superficie o área (km²),Densidad de población (Hab./km²),GDP$ (per capita),GDP (para colab)
0,2,Mónaco,2,19500.00,"189,487.15 $",189487.15
1,3,Singapur3​,704,8142.00,"66,859.34 $",66859.34
2,7,Maldivas,298,2154.00,"10,279.08 $",10279.08
3,8,Baréin,771,2058.00,"24,086.30 $",24086.30
4,9,Malta,315,1688.00,"31,573.12 $",31573.12
5,33,India,3 166 620,436.00,"1,998. 26 $",1998.26
6,85,China11​,9 572 900,148.00,"9,905.34 $",9905.34
7,180,Estados Unidos,9 149 429,37.00,"62,805.25 $",62805.25
8,212,Noruega,304 248,18.00,"82,267.81 $",82267.81
9,225,Rusia20​,17 075 400,9.00,"11,287.38 $",11287.38
10,236,Australia,7 688 126,3.00,"57,180.78 $",57180.78
11,237,Namibia,825 615,3.00,"5,558.39 $",5558.39
12,239,Mongolia,1 564 100,2.00,"4,156.58 $",4156.58
13,240,República Árabe Saharaui Democrática,272 000,2.00,"2,500 $",2500.00
14,242,Groenlandia,2 166 000,0.02,"54,545.3 $",54545.30

In [ ]:
df_CO2["GDP (para colab)"].sum()

614490.08

In [ ]:
 df_CO2["GDP (para colab)"] / df_CO2["Densidad de población (Hab./km²)"]

0     9.717290e+00
1     8.211661e+00
2     4.772089e+00
3     1.170374e+01
4     1.870445e+01
5     4.583165e+00
6     6.692797e+01
7     1.697439e+03
8     4.570434e+03
9     1.254153e+03
10    1.906026e+04
11    1.852797e+03
12    2.078290e+03
13    1.250000e+03
14    2.727265e+06
dtype: float64